// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// colors
$clr-black: #000000;
$clr-white: #FFFFFF;
$clr-darkYellow: #FC9A1A;
$clr-lightYellow: #FFBA25;
$clr-darkOrange: #FF1F06;
$clr-lightOrange: #FF4D00;
$clr-purple: #330066;
$clr-lightPurple: #DCC2FF;
$clr-darkPurple: #8A38F5;

$clr-darkBg: #0F1320;