// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


$gibson-thin: "Gibson Thin", sans-serif;
$gibson-light: "Gibson Light", sans-serif;
$gibson-regular: "Gibson Regular", sans-serif;
$gibson-medium: "Gibson Medium", sans-serif;
$gibson-semibold: "Gibson SemiBold", sans-serif;
$gibson-bold: "Gibson Bold", sans-serif;
$gibson-black: "Gibson Black", sans-serif;
$gibson-heavy: "Gibson Heavy", sans-serif;