// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// colors
$color-purple: #462F86;
$color-darkGrey: #939393;
$color-lightGrey: #F4F4F4;
$color-black: #404040;
$color-white: #FFFFFF;
$color-borderGrey: #8D8B8C;

$color-lightPurple: rgba(185, 188, 223, 0.2);
$color-slightDarkPurple: rgba(143, 135, 193, 0.2);
$color-lightGreen: rgba(209, 255, 189, 0.2);

// font family
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Bebas Neue', sans-serif;