.contact-agencies {

    .hero-bg {
        border-bottom-left-radius: 5rem;

        @include media('>lg') {
            border-bottom-left-radius: 20rem;
        }
    }

    .form__wrapper {
        margin: 4rem 0 10rem 0;
        padding: 2rem;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.05);

        @include media('>=md') {
            padding: 4rem;
        }

        #gform_submit_button_4 {
            font-family: 'Gibson', sans-serif !important;
            font-size: 1rem !important;
            font-weight: 600 !important;
            background-color: $clr-darkYellow !important;
            color: $clr-white !important;
            border-color: $clr-darkYellow !important;
            border-radius: 1rem !important;
            width: 10rem !important;
            margin-top: 2rem !important; 

            &:hover {
                background-color: $clr-lightYellow !important;
                border-color: $clr-lightYellow !important;
            }
        }

        #input_4_10 {
            width: 100%;
        }

        h1 {
            font-family: $gibson-medium;
            font-size: 2.25rem;
            line-height: 1.25;
            color: $clr-white;
            margin-bottom: 3rem;
        }
    }
}