// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$clr-black: #000000;
$clr-white: #ffffff;
$clr-darkgrey: #414042;
$clr-orange: #eb8317;
$clr-navyblue: #00325b;
$clr-grey: #a4b3bf;
$clr-bg: #f4f6ff;
