// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.main-navigation {
    #ast-hf-menu-1 {
        gap: 2rem;
    }
    .menu-link {
        font-family: $gibson-semibold, sans-serif;
        color: $clr-white !important;

        &:hover {
            color: $clr-darkOrange !important;
        }
    }

    .current_page_item {
        a {
            color: $clr-darkOrange !important;
        }
    }

    .sub-menu {
        background-color: rgba(0,0,0,0.5);
        border-radius: 1rem;
        border: none !important;
        box-shadow: unset !important;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 1rem 0;
        max-width: 10rem;
    }
    .sub-menu li a {
        font-family: 'Gibson Medium', sans-serif;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.ast-mobile-popup-inner {
  height: 30rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  top: 5.5rem !important;
}