// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.site-footer {
  li {
    line-height: 1.75;
  }

  a {
    font-size: 14px;
    color: $clr-white;

    &:hover {
      color: $clr-orange;
    }
  }

  #menu-item-341 a {
    font-size: 14px;
  }

  .widget-title {
    font-family: $font-primary;
    font-weight: $font-semibold;
    color: $clr-white;
    font-size: 1rem;

    @include media("<md") {
      text-align: center;
    }
  }

  #menu-item-58,
  #menu-item-221 {
    font-weight: $font-semibold;
  }

  #menu-footer-company,
  #menu-footer-services,
  #menu-footer-contact {
    @include media("<md") {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  // .ast-footer-html-2 {
  //   a {
  //     font-size: 14px;
  //   }
  // }

  .site-above-footer-inner-wrap {
    @include media(">=md") {
      grid-template-columns: repeat(7, 1fr) !important;
      grid-column-gap: 10px !important;
    }

    @include media(">=xl") {
      grid-column-gap: 20px !important;
    }

    .site-footer-above-section-1 {
      @include media(">=md") {
        grid-column: span 2;
      }
      // @include media(">=xl") {
      //   grid-column: span 3;
      // }
    }

    .menu-link {
      @include media(">=md") {
        padding-left: 0rem !important;
      }
    }
  }

  .ast-footer-copyright {
    p {
      font-size: 14px;
      text-align: left;
      padding-left: 1rem;

      @include media(">=md") {
        padding-left: 0;
      }
    }
  }

  #astra-footer-menu {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    li:first-child {
      font-weight: $font-semibold;
    }
  }

  .site-footer-above-section-1 {
    margin-bottom: 2rem !important;
  }
}
