// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@import '../abstracts/variables';

.btn {
    background-color: $color-purple;
    border: 2px solid $color-purple;
    color: $color-white;
    font-weight: 700;
    border-radius: 3rem;
}
.btn:hover {
    background-color: transparent;
    color: $color-purple;
    border: 2px solid $color-purple;
}
.btn-sm {
    padding: 0.4em 2em;
}