// -----------------------------------------------------------------------------
// This file contains all global styles related to Forms
// ---------


@import '../abstracts/variables';
@import "../abstracts/mixins";
@import "../abstracts/breakpoints";


.gform-body input {
    border-radius: 0.6rem;
    background-color: $color-white;
    height: rem(50);
}
.gform-body textarea {
    border-radius: 0.6rem;
    background-color: $color-white;
}
.gform_required_legend {
    display: none;
}
.gform_wrapper select {
    height: 42px !important;
    border-radius: 0.6rem !important;
    font-size: 1rem !important;
    background-color: $color-white !important;
}
input[type="submit"] {
    border-radius: 30px;
    padding: 10px 40px;
    background-color: $color-purple;
    border: 1px solid $color-purple;
    font-size: 14px;
    font-weight: bold;
}
input[type="submit"]:hover {
    background-color: #FFFFFF;
    color: var(--purple);
    border: 1px solid $color-purple;
}

input::file-selector-button {
    padding: 0.4rem 1.6rem;
    background-color: $color-purple;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
}
input::file-selector-button:hover {
    cursor: pointer;
}
.gform_fileupload_rules {
    display: none;
}
// .gfield {
//     margin-top: 1rem;
// }
input[type='radio']:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    top: -3px;
    left: -1px;
    position: relative;
   background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: $color-purple;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

select {
    font-family: $font-primary;
}

input[type='checkbox']:after {
    width: 18px;
    height: 18px;
    top: -2px;
    left: -1px;
    position: relative;
   background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='checkbox']:checked:after {
    width: 18px;
    height: 18px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $color-purple;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}






input:focus,
textarea:focus {
    border: 1px solid $color-purple !important;
}
.form h2 {
    font-weight: normal;
    color: $color-purple;
}
.gform_wrapper.gravity-theme .gfield-choice-input+label {
    max-width: 100% !important;
}
.gform_submission_error {
    @include font-Montserrat;
    
    font-size: 1rem !important;
}
.gfield_validation_message {
    padding: 0.4rem !important;
}
.gform_wrapper.gravity-theme .gfield-choice-input+label {
    padding-left: 1rem;
}
.gfield_description {
    margin-top: 0;
}
#gform_5 .gfield_checkbox {

    display: grid;
    
    
    @include media('>=small') {
        grid-template-columns: repeat(2, 1fr);
    }
    

    @include media('>=x-large') {
        grid-template-columns: repeat(5, 1fr);
    }
    
}

#gform_5 .gfield_radio {

    @include media('>=x-large') {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

}

.newsletter__consent p {
    font-size: 0.8rem;
    font-style: italic;

    @include media('>=medium') {
        padding-right: 4rem;
    }
    
}

#field_5_12 h2 {
    margin-top: 3rem;
}

#field_6_8, 
#field_6_23, 
#field_6_10, 
#field_6_24, 
#field_6_25, 
#field_6_34,  
#field_6_35, 
#field_6_36, 
#field_6_39, 
#field_6_40,
#field_6_50 {

    @include media('>=small') {
        grid-column: span 4;
    }
    
}


.form_submission__success {
    text-align: center;
    background-color: $color-lightGreen;
    border: 2px solid $color-purple;
    border-radius: 1rem;
    padding: 3rem 0;

    & h3 {

        @include font-Montserrat;

    }
  }
