// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Sales Specialists component.
// -----------------------------------------------------------------------------

@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/breakpoints";

.specialists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;

    
    @include media('>=medium') {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        text-align: left;
    }

    &__intro {
        text-align: center;

        & h2 {
            font-weight: normal;
            color: $color-purple;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        & a {
            color: $color-purple;
            font-weight: bold;
        }
    }

    &__member {

        
        @include media('>=x-large') {
            display: flex;
            align-items: center;
            gap: 2rem
        }

        &__photo {
            border-radius: 1rem;
            width: 184px;
        }

        & h2 {
            @include font-Montserrat;

            margin-top: 1rem;
            color: $color-purple;
            font-size: 1.2rem;
            line-height: 1.6rem;
            font-weight: 500;
        }

        & h3 {
            @include font-Montserrat;

            color: $color-purple;
            font-size: 1rem;
            line-height: 1.6rem;
            font-weight: 500;
        }

        & a {
            color: $color-black;

            &:hover {
                color: $color-purple;
            }
        }

    }
    
}


