// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@use "typography" as *;

h1 {
    font-family: $font-primary;
    font-weight: $font-bold;
    margin: 0;
    padding: 0;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;
    font-weight: $font-semibold;
    margin: 0;
    padding: 0;
}
p {
    line-height: 1.5;
}
p,
a,
li {
    font-family: $font-secondary;
    margin: 0;
    padding: 0;
}
